<div class="ttxs-download pr">
    <i></i>
    <article>
        <a class="clearfix" href="#">
            <dl>
                <dt></dt>
                <dd class="tiant">天天象上</dd>
                <dd>学海无涯&nbsp;考试无忧</dd>
            </dl>
            <section>下载</section>
        </a>
    </article>
</div>