@charset "UTF-8";
/**
* @author 象天
* 2015-09-07
* px转em
* 使用:pxToRem(110)
*
**/
@import url(swiper.min.css);
body {
  font-family: "SimHei","Helvetica Neue",Arial,"Droid Sans", sans-serif;
  color: #333;
}

html {
  font-size: 62.5%;
  /* 10÷16=62.5% */
}

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
}

ol, ul, textarea, input, option, th, td {
  padding: 0;
}

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style-type: none;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none;
}

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only;
}

fieldset, img {
  border: 0;
}

a {
  text-decoration: none;
}

a, textarea, input {
  outline: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

i, cite, var, em {
  font-style: normal;
}

.t10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.img img {
  display: block;
}

a img {
  border: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 73.4% !important;
    /* 11.75÷16=73.4% */
  }
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 94% !important;
    /* 15.04÷16=94% */
  }
}

@media only screen and (min-width: 560px) {
  html {
    font-size: 109% !important;
    /* 17.44÷16=109% */
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 125% !important;
    /* 20÷16=125% */
  }
}

@media only screen and (min-width: 750px) {
  html {
    font-size: 146.43% !important;
    /* 24.43÷16=146.43% */
  }
}

.own-list {
  height: 5rem;
  margin-top: 2.65rem;
}

.own-list li {
  float: left;
  width: 25%;
  height: 5rem;
  border-right: 0.05rem #efefef solid;
  box-sizing: border-box;
  background: url(i/icon1.png) center center no-repeat;
  background-size: 3.3rem 3.3rem;
}

.own-list li a {
  display: block;
  width: 100%;
  height: 100%;
}

.own-list li:last-child {
  border-right: none;
}

.banner {
  height: 6.8rem;
}

.banner a {
  display: block;
}

.banner a img {
  display: block;
  width: 100%;
  height: 6.8rem;
}

.own-list1 {
  padding-top: 0.3rem;
  height: 8.05rem;
  border-bottom: none;
}

.own-list1 li {
  height: 4rem;
}

.own-list1 li a {
  height: 2.35rem;
  padding-top: 1.65rem;
  background: url(i/icon2.png) center 0 no-repeat;
  background-size: 1.65rem 1.65rem;
}

.own-list1 li a span {
  font-size: 0.65rem;
  height: 1.65rem;
  line-height: 1.65rem;
  overflow: hidden;
  display: block;
}

.own-list2 {
  background: #eee;
  padding-top: 0.6rem;
}

.own-list2 li {
  float: left;
  width: 25%;
  border-right: 0.05rem #efefef solid;
  border-bottom: 0.05rem #efefef solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
}

.own-list2 li a {
  display: block;
}

.own-list2 li a img {
  width: 100%;
}

.own-list2 li:nth-child(4n) {
  border-right: 0.05rem #fff solid;
}

.own-list2 li:nth-last-child(4) {
  border-bottom: 0.05rem #fff solid;
}

.own-list2 li:nth-last-child(3) {
  border-bottom: 0.05rem #fff solid;
}

.own-list2 li:nth-last-child(2) {
  border-bottom: 0.05rem #fff solid;
}

.own-list2 li:nth-last-child(1) {
  border-bottom: 0.05rem #fff solid;
}

.header-bd {
  border-radius: 0.9rem 0.9rem;
  height: 1.8rem;
  background: #f4f4f4;
  margin: 0 3rem 0 4.45rem;
}

.header-bd input {
  float: left;
  border: none;
  background: none;
}

.header-bd .sous {
  width: 1.8rem;
  height: 1.8rem;
  background: url(i/search.png) 0.6rem center no-repeat;
  background-size: 0.85rem 0.85rem;
}

.header-bd .sous1 {
  line-height: 1.8rem;
  font-size: 0.75rem;
  color: #5b5b5b;
  width: 80%;
}

.ass {
  line-height: 1.8rem;
  font-size: 0.8rem;
  color: #404040;
  margin-left: 0.95rem;
}

.hd-qx {
  background: url(i/add.png) 0 center no-repeat;
  background-size: 1.25rem 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.95rem;
  margin-top: 0.3rem;
}

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  padding-top: 0.5rem;
  height: 2.15rem;
  border-bottom: 0.05rem #f5f5f5 solid;
  width: 100%;
  border-sizing: border-box;
  background: #fff;
}

.h2 {
  font-size: 0.8rem;
  line-height: 2.35rem;
  height: 2.35rem;
  color: #989898;
  text-align: center;
  font-weight: normal;
}

.prompt {
  height: 1.9rem;
  background: #fef2da;
  font-size: 0.75rem;
  line-height: 1.9rem;
  text-align: center;
  color: #f1bf68;
}

.prompt .canl {
  top: 0.8rem;
  right: 0.35rem;
  background: url(i/canl.png) 0 0 no-repeat;
  z-index: 1;
  background-size: 0.45rem 0.4rem;
  width: 0.45rem;
  height: 0.4rem;
}

.shop-list li {
  position: relative;
  vertical-align: top;
  border-bottom: 0.05rem #e8e8e8 solid;
  height: 6.35rem;
  padding: 0.75rem 0 0 0.6rem;
}

.shop-list li dl dd {
  float: left;
}

.shop-list li dl dd a {
  display: block;
}

.shop-list li dl dd a img {
  display: block;
  width: 5.75rem;
  height: 5.75rem;
}

.shop-list li dl dt {
  margin-left: 6.5rem;
}

.shop-list li dl dt h3 {
  position: relative;
  height: 1.55rem;
}

.shop-list li dl dt h3 a {
  line-height: 1.55rem;
  font-size: 0.9rem;
  color: #3b3b3b;
}

.shop-list li dl dt h3 b {
  position: absolute;
  top: 0.3rem;
  margin-left: 0.7rem;
  z-index: 1;
  border: 0.05rem #f8f9b5 solid;
  font-size: 0.6rem;
  line-height: 0.85rem;
  color: #928550;
  padding: 0 0.15rem;
  border-radius: 0.2rem;
  font-weight: normal;
}

.shop-list li dl dt p {
  font-size: 0.75rem;
  line-height: 1.35rem;
  height: 1.35rem;
  color: #a3a3a3;
}

.shop-list li dl dt section {
  font-size: 0.75rem;
  line-height: 1.8rem;
  height: 1.8rem;
  color: #39b9a2;
}

.shop-list li em {
  position: absolute;
  right: 0.65rem;
  top: 1.3rem;
  z-index: 1;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #959595;
}

.shop-list li i {
  position: absolute;
  right: 0.65rem;
  bottom: 0.75rem;
  z-index: 1;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #959595;
}

.shop-list li var {
  position: absolute;
  right: 0.65rem;
  bottom: 2.15rem;
  z-index: 1;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #959595;
}

.shop-list li:last-child {
  border-bottom: none;
}
