
    <header class="clearfix">
        <span>天天象上</span>
        <a href="#">北京</a> 
        <div class="sousuo clearfix">
        <em></em><input type="text" value="输入老师姓名"/>
    </div>
    </header>
    <div class="remen clearfix">
        <span>热门老师</span><a href="#">更多&gt;</a>
    </div>
    <div class="laoshi">
        <ul class="clearfix">
           <li>
                <a class="clearfix" href="#"><img src="images/laoshi.png" alt=""/><dl><dt class="clearfix"><strong>甜死你</strong><span>教学</span></dt><dd class="renmin">人民大学附属中学</dd><dd class="jibie"><em>二级教师</em></dd></dl></a>
                 <div class="lao-renshu clearfix"><p class="fl"><em>87</em><span>节微课</span></p><p class="fl no-border"><em>432</em><span>人学习</span></p></div>
            </li>
            <li>
                <a class="clearfix" href="#"><img src="images/laoshi.png" alt=""/><dl><dt class="clearfix"><strong>甜死你</strong><span>教学</span></dt><dd class="renmin">人民大学附属中学</dd><dd class="jibie teji"><em>特级教师</em></dd></dl></a>
                 <div class="lao-renshu clearfix"><p class="fl"><em>87</em><span>节微课</span></p><p class="fl no-border"><em>432</em><span>人学习</span></p></div>
            </li>
             <li>
                <a class="clearfix" href="#"><img src="images/laoshi.png" alt=""/><dl><dt class="clearfix"><strong>甜死你</strong><span>教学</span></dt><dd class="renmin">人民大学附属中学</dd><dd class="jibie teji"><em>特级教师</em></dd></dl></a>
                 <div class="lao-renshu clearfix"><p class="fl"><em>87</em><span>节微课</span></p><p class="fl no-border"><em>432</em><span>人学习</span></p></div>
            </li>
             <li>
                <a class="clearfix" href="#"><img src="images/laoshi.png" alt=""/><dl><dt class="clearfix"><strong>甜死你</strong><span>教学</span></dt><dd class="renmin">人民大学附属中学</dd><dd class="jibie"><em>二级教师</em></dd></dl></a>
                 <div class="lao-renshu clearfix"><p class="fl"><em>87</em><span>节微课</span></p><p class="fl no-border"><em>432</em><span>人学习</span></p></div>
            </li>
            
        </ul>
    </div>
    <div class="remen clearfix">
        <span>2015高考真题视频解析</span><a href="#">更多&gt;</a>
    </div>
    <ol class="xueke clearfix">
        <li><a href="#">语文</a></li>
        <li><a href="#">数学理</a></li>
        <li><a href="#">数学文</a></li>
        <li><a href="#">英语</a></li>
        <li><a href="#">物理</a></li>
        <li><a href="#">化学</a></li>
        <li><a href="#">地理</a></li>
        <li><a href="#">生物</a></li>
        <li><a href="#">政治</a></li>
        <li><a href="#">历史</a></li>
    </ol>
    <div class="remen clearfix">
        <span>精品课程</span><a href="#">更多&gt;</a>
    </div>
