body,input,option,select,textarea{font-size:12px;color:#333;font-family:"Hiragino Sans GB","Microsoft Yahei",tahoma,arial,sans-serif;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,h5,h6{font-size:100%}blockquote,body,dd,dl,form,h1,h2,h3,h4,h5,h6,input,ol,option,p,select,textarea,ul{margin:0}input,ol,option,td,textarea,th,ul{padding:0}table{border-collapse:collapse}li{list-style-type:none}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}.clearfix{*zoom:1}.clear{clear:both;height:0;overflow:hidden}a{text-decoration:none;color:#333}a,input,select,textarea{outline:0}textarea{overflow:auto;resize:none}.img img{display:block}a img{border:none}.pr{position:relative}.pa{position:absolute}.fl{float:left}.fr{float:right}a:hover{text-decoration:underline}.m{margin:0 auto;width:1011px}.t10{margin-top:10px}.hide{display:none}.show{display:block}::-ms-clear{display:none}::-ms-reveal{display:none}::-webkit-input-placeholder{color:#ccc}:-moz-placeholder{color:#ccc}::-moz-placeholder{color:#ccc}:-ms-input-placeholder{color:#ccc}
@import"yxxyzs";
@import"kuang1";
header{
    height:30px;
    background:url(i/icon-x.png) 0 0 repeat-x;
    .header{
        margin-left:39px;
        a{
            float:left;
            margin-left:19px;
            line-height:31px;
            height:30px;
        }
    }
    ul{
        margin-right:41px;
        li{
            line-height:31px;
            height:30px;
            span{
                margin:0 8px 0 10px;
            }
        }
        .header-dengl{
            a{
                color:#ff0000;
                margin-right:6px;
            }
            .denglu-value{
                display:block;
            }
            .denglu-name{
                display:none;
            }
        }
    }
}
.banner{
    height:453px;
    background:url(i/icon-xb.png) 0 0 repeat-x;
    article{
        background:url(i/banner.png) center 0 no-repeat;
        height:409px;

        aside{
            background:url(i/icon-x1.png) center 320px repeat-x;
            height:409px;
        }
    }
}
.one-p{
    padding:0 121px 27px 79px;
    p{
        text-indent:2em;
        font-size:14px;
        line-height:25px;
    }
    em{
        width:338px;
        height:136px;
        z-index:1;
        right:9px;
        top:-82px;
        background:url(i/xian.png?__sprite) 0 0 no-repeat;
    }
}
.kuang-top{
    height:21px;
    background:url(i/icon-x.png) 0 -51px repeat-x;
    em{
        height:21px;
        background:url(i/icon-x.png) 0 -30px no-repeat;
        display:block;
        i{
            height:21px;
            background:url(i/icon-x.png) right -74px no-repeat;
            display:block;
        }
    }
}
.kuang-bd{
    .kuang-l{
        background:url(i/icon-y1.png) 0 0 repeat-y;
    }
     .kuang-r{
        background:url(i/icon-y.png) right 0 repeat-y;
    }
}
.kuang-ft{
    height:12px;
    background:url(i/icon-x.png) 0 -119px repeat-x;
    em{
        height:12px;
        background:url(i/icon-x.png) 0 -95px no-repeat;
        display:block;
        i{
            height:12px;
            background:url(i/icon-x.png) right -132px no-repeat;
            display:block;
        }
    }
}
.two{
    padding:0 3px 0 48px;
    .two-bd{
        .jiangxiang{
            padding:0 20px 0 20px;

            .jx-bd{
                padding:0 5px 27px 144px;
                border-bottom:1px #a8a8a8 solid;
                color:#414141;
                font-size:13px;
                background:url(i/logo.png?__sprite) 0 0 no-repeat;
                p{
                    width:777px;
                    line-height:24px;
                    text-indent:2em;
                    margin-bottom:2px;
                    padding-left:2px;
                }
                section{
                    margin-top:16px;
                    em{
                        float:left;
                        font-style:normal;
                        color:#fff;
                        line-height:20px;
                        text-align:center;
                        width:100px;
                        height:20px;
                        background:#f77933;
                        margin-right:12px;
                    }
                    span{
                        line-height:19px;
                    }
                    var{
                        color:#0b9dce;
                        font-style:normal;
                    }
                }
            }
        }
    }
}
.two-centent{
    padding-top:33px;
    padding-left:3px;
    h3{
        width:142px;
        height:37px;
        color:#fff;
        background:url(i/h3.png?__sprite) 0 0 no-repeat;
        line-height:34px;
        text-align:center;
        font-size:16px;
        font-weight:normal;
        float:left;
    }
    .jieli{
        bottom:0;
        left:80px;
        z-index:1;
    }
    .nanbu{
        padding-left:2px;
        height:43px;
        span{
            color:#000;
            line-height:37px;
            font-size:16px;
            margin-left:18px;
        }
    }
    article{
        border-right:1px #bababa dashed;
        padding:0 16px 44px;
        width:285px;
             p{ 
                    border:2px #7dab22 solid;
                    border-radius:6px; 
                    width:156px;
                    padding:10px 15px 11px 14px;
                    color:#000;
                    line-height:22px;
                    position:relative;
                    min-height:30px;
                    var{
                        position:absolute;
                        width:15px;
                        height:35px;
                        top:13px;
                        left:-15px;
                        z-index:1;
                        background:url(i/gk-l.png?__sprite) 0 0 no-repeat;
                    }
                    em{
                        position:absolute;
                        width:15px;
                        height:35px;
                        top:13px;
                        right:-15px;
                        z-index:1;
                        background:url(i/gk-r.png?__sprite) 0 0 no-repeat;
                    }
                }
        .nanbu-bd{
            padding-left:2px;
            background:url(i/jiantou-y.png) 33px 0 repeat-y;
            zoom:1;
            z-index:5;
            img{
                float:left;
                width:76px;
                height:96px;
                padding-top:10px;
                background:#fff;
            }
            section{
                float:left;
                margin-left:18px;
                strong{
                    margin-left:16px;
                    line-height:33px;
                }
            }
            em{
                position:absolute;
                width:10px;
                height:23px;
                background:url(i/jiant-t.png?__sprite) 0 0 no-repeat;
                left:33px;
                top:106px;
            }
            span{
                display:block;
                line-height:20px;
                margin-top:12px;
                width:132px;
                padding-left:77px;
                margin-left:34px;
                height:59px;
                background:url(i/xian1.png?__sprite) 0 0 no-repeat;
                position:relative;
                i{
                    font-style:normal;
                    color:#f54b1f;
                }
                b{
                    position:absolute;
                    background:url(i/span-jt.png?__sprite) 0 0 no-repeat;
                    bottom:-25px;
                    right:-3px;
                    width:10px;
                    height:26px;
                    z-index:1;
                }
            }
        }
        ul{
            li{
                vertical-align:top;
                margin-bottom:7px;
                position:relative;
                background:url(i/jiantou-y.png) 240px 0 repeat-y;
                zoom:1;
                .jiantou{
                    position:absolute;
                    width:10px;
                    background:url(i/jiantou.png?__sprite) 0 0 no-repeat;
                    height:18px;
                    bottom:0;
                    right:35px;
                }
                .two-text{
                    float:left;
                    margin-right:25px;
                  h4{
                    height:35px;
                    padding-left:36px;
                    background:url(i/logo1.png?__sprite) 4px 0 no-repeat;
                    line-height:45px;
                    color:#000;
                    font-size:16px;
                    font-weight:normal;
                   }
                }
              
                .two-tu{
                    float:right;
                    text-align:center;
                    padding-top:36px;
                    height:100%;
                    background:#fff;
                    img{
                        display:block;
                        width:71px;
                        height:95px;
                    }
                    span{
                        line-height:24px;
                        margin-top:8px;
                    }
                }
            }
            .fanxiang{
                margin-bottom:11px;
                background:url(i/jiantou-y.png) 32px 0 repeat-y;
                .jiantou{
                    left:32px;
                }
                .two-text{
                    float:right;
                    margin:0 0 0 25px;
                }
                .two-tu{
                    float:left;
                }
            }
        }
    }
    .zhongbu{
        h3{
           background:url(i/h3-zhong.png?__sprite) 0 0 no-repeat; 
        }
        p{
           border:2px #e57550 solid; 
           var{
                background:url(i/rk-l.png?__sprite) 0 0 no-repeat;
           }
           em{
                background:url(i/rk-r.png?__sprite) 0 0 no-repeat;
           }
        }
        .jieli{
            bottom:0;
            left:405px;
            z-index:1;
        }

    }
    .beibu{
        border:none;
        h3{
           background:url(i/h3-bei.png?__sprite) 0 0 no-repeat; 
        }
        p{
           border:2px #49b4e8 solid; 
           var{
                background:url(i/bk-l.png?__sprite) 0 0 no-repeat;
           }
           em{
                background:url(i/bk-r.png?__sprite) 0 0 no-repeat;
           }
        }
        .jieli{
            bottom:0;
            left:727px;
            z-index:1; 
            // right:74px; 
        }
    }
}






















