body, input, option, select, textarea {
  font-size: 12px;
  color: #333;
  font-family: "Hiragino Sans GB","Microsoft Yahei",tahoma,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

blockquote, body, dd, dl, form, h1, h2, h3, h4, h5, h6, input, ol, option, p, select, textarea, ul {
  margin: 0;
}

input, ol, option, td, textarea, th, ul {
  padding: 0;
}

table {
  border-collapse: collapse;
}

li {
  list-style-type: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

a, input, select, textarea {
  outline: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

.img img {
  display: block;
}

a img {
  border: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a:hover {
  text-decoration: underline;
}

.m {
  margin: 0 auto;
  width: 1011px;
}

.t10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

.three {
  margin-top: 19px;
  padding-left: 38px;
}

.three ol li {
  margin: 15px 0 0 34px;
  float: left;
}

.three ol li section {
  float: left;
  padding-top: 5px;
}

.three ol li section img {
  width: 80px;
  height: 90px;
  display: block;
}

.three ol li section span {
  line-height: 35px;
  height: 25px;
  color: #414141;
  width: 80px;
  display: block;
  text-align: center;
}

.three ol li p {
  color: #414141;
  line-height: 24px;
  width: 337px;
  float: left;
  margin-left: 21px;
}

h5 {
  padding-left: 23px;
  line-height: 30px;
  font-size: 16px;
}

h5 span {
  color: #0983c1;
}

.h5-two {
  padding-left: 14px;
}

.h5-three {
  padding-left: 35px;
}

.four {
  margin-top: 24px;
  padding: 0 4px 0 47px;
}

.four .shanzhengban {
  padding-left: 15px;
  padding-right: 9px;
  line-height: 22px;
  margin-top: 8px;
}

.four article {
  width: 941px;
  position: relative;
}

.four article .xian {
  border-top: 1px #e4e4e4 solid;
  padding: 0 19px 26px 0;
  margin-left: 17px;
}

.four article .xian .button {
  width: 11px;
  height: 11px;
  right: 9px;
  top: -27px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px 0px;
  z-index: 1;
}

.four article .xian .button1 {
  width: 11px;
  height: 11px;
  right: -6px;
  top: -27px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -16px;
  z-index: 1;
}

.four article ul {
  padding: 30px 0 0 18px;
  width: 945px;
}

.four article ul li {
  width: 314px;
  padding-bottom: 25px;
}

.four article ul li .a-img {
  float: left;
  margin: 10px 10px 0 3px;
}

.four article ul li .a-img img {
  width: 76px;
  height: 95px;
}

.four article ul li p {
  line-height: 17px;
  color: #555;
  margin-top: 17px;
  width: 205px;
  float: left;
}

.four article ul li .four-ren {
  color: #09c;
  line-height: 23px;
  margin-left: 203px;
}

.four section {
  float: left;
  padding-left: 17px;
  margin-top: 8px;
  width: 220px;
}

.four section b {
  color: #0983c1;
  line-height: 29px;
  font-size: 21px;
  display: block;
  text-align: center;
  font-weight: normal;
}

.four section em {
  font-style: normal;
  color: #61b6e1;
  line-height: 19px;
  font-size: 14px;
  display: block;
  text-align: center;
}

.four section span {
  padding: 7px 17px 0 6px;
  background: #eee url(i/icon1.png?) 6px 2px no-repeat;
  height: 46px;
  border-top: 1px #2782d6 solid;
  border-bottom: 1px #ddd solid;
  line-height: 18px;
  display: block;
  text-indent: 28px;
  margin-top: 9px;
}

.four .cxy-guand {
  margin: 16px 0 0 26px;
  float: left;
  line-height: 21px;
  padding-right: 13px;
  width: 684px;
}

.four-bd {
  padding-bottom: 14px;
  padding-top: 10px;
}

.four-bd a {
  color: #0983c1;
  right: 16px;
  bottom: 0px;
  z-index: 1;
}

.five {
  margin-top: 22px;
  padding: 0 0 0 28px;
}

.five article {
  width: 181px;
  height: 40px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -32px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.five ul li {
  float: left;
  margin-left: 20px;
  padding: 0 9px 18px;
  width: 205px;
  height: 193px;
  border: 1px #49b4e8 solid;
  border-radius: 10px;
  overflow: hidden;
}

.five ul li span {
  display: block;
}

.five ul li span a {
  line-height: 40px;
  font-size: 14px;
  height: 40px;
  width: 205px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.five ul li p {
  line-height: 20px;
  margin-top: 7px;
  height: 145px;
  overflow: hidden;
}

.five ul .ge-ff {
  background: #8cbf26;
  border: none;
  color: #fff;
}

.five ul .ge-ff a {
  color: #fff;
}

.five ul .red-k {
  border: 1px #f09609 solid;
}

.five ul .blu-ff {
  background: #2daeed;
  border: none;
  color: #fff;
}

.five ul .blu-ff a {
  color: #fff;
}

.six {
  margin-top: 27px;
  padding-left: 48px;
  padding-right: 3px;
}

.six article {
  width: 181px;
  height: 40px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -77px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.six-bd ol {
  padding-right: 10px;
}

.six-bd ol li {
  float: left;
  position: relative;
  width: 273px;
  height: 160px;
  background: #4891dd;
  color: #fff;
  margin: 0 0 0 11px;
  padding: 0 16px;
}

.six-bd ol li span {
  display: block;
  line-height: 52px;
  font-size: 25px;
  width: 275px;
}

.six-bd ol li p {
  line-height: 28px;
  font-size: 16px;
}

.six-bd ol li em {
  color: #fffffd;
  font-size: 16px;
  font-style: normal;
  line-height: 48px;
  margin-top: 10px;
}

.six-bd ol li a {
  position: absolute;
  width: 36px;
  height: 46px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -122px;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  padding: 12px 17px;
  line-height: 24px;
}

.six-bd ol .geeen-li {
  background: #009e49;
}

.six-bd ol .geeen-li a {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -197px;
}

.six-bd ol .geeen-li span {
  text-align: center;
}

.six-bd ol .geeen-li p {
  margin-left: 20px;
}

.six-bd ol .yellow-li {
  background: #ffb901;
}

.six-bd ol .yellow-li span {
  margin-left: 5px;
}

.six-bd ol .yellow-li a {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -272px;
  width: 90px;
  height: 80px;
  bottom: -10px;
  right: -20px;
}

.six-bd ol .yellow-li p {
  position: absolute;
  top: 52px;
  left: 21px;
  z-index: 2;
}

.kuang1-top {
  height: 11px;
  background: url(i/kuang1.png) 0 -11px repeat-x;
}

.kuang1-top em {
  display: block;
  height: 11px;
  background: url(i/kuang1.png) 0 0 no-repeat;
}

.kuang1-top em i {
  display: block;
  height: 11px;
  background: url(i/kuang1.png) right -22px no-repeat;
}

.kuang1-ft {
  height: 10px;
  background: url(i/kuang1.png) 0 -43px repeat-x;
}

.kuang1-ft em {
  display: block;
  height: 10px;
  background: url(i/kuang1.png) 0 -53px no-repeat;
}

.kuang1-ft em i {
  display: block;
  height: 10px;
  background: url(i/kuang1.png) right -33px no-repeat;
}

header {
  height: 30px;
  background: url(i/icon-x.png) 0 0 repeat-x;
}

header .header {
  margin-left: 39px;
}

header .header a {
  float: left;
  margin-left: 19px;
  line-height: 31px;
  height: 30px;
}

header ul {
  margin-right: 41px;
}

header ul li {
  line-height: 31px;
  height: 30px;
}

header ul li span {
  margin: 0 8px 0 10px;
}

header ul .header-dengl a {
  color: #ff0000;
  margin-right: 6px;
}

header ul .header-dengl .denglu-value {
  display: block;
}

header ul .header-dengl .denglu-name {
  display: none;
}

.banner {
  height: 453px;
  background: url(i/icon-xb.png) 0 0 repeat-x;
}

.banner article {
  background: url(i/banner.png) center 0 no-repeat;
  height: 409px;
}

.banner article aside {
  background: url(i/icon-x1.png) center 320px repeat-x;
  height: 409px;
}

.one-p {
  padding: 0 121px 27px 79px;
}

.one-p p {
  text-indent: 2em;
  font-size: 14px;
  line-height: 25px;
}

.one-p em {
  width: 338px;
  height: 136px;
  z-index: 1;
  right: 9px;
  top: -82px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -367px;
}

.kuang-top {
  height: 21px;
  background: url(i/icon-x.png) 0 -51px repeat-x;
}

.kuang-top em {
  height: 21px;
  background: url(i/icon-x.png) 0 -30px no-repeat;
  display: block;
}

.kuang-top em i {
  height: 21px;
  background: url(i/icon-x.png) right -74px no-repeat;
  display: block;
}

.kuang-bd .kuang-l {
  background: url(i/icon-y1.png) 0 0 repeat-y;
}

.kuang-bd .kuang-r {
  background: url(i/icon-y.png) right 0 repeat-y;
}

.kuang-ft {
  height: 12px;
  background: url(i/icon-x.png) 0 -119px repeat-x;
}

.kuang-ft em {
  height: 12px;
  background: url(i/icon-x.png) 0 -95px no-repeat;
  display: block;
}

.kuang-ft em i {
  height: 12px;
  background: url(i/icon-x.png) right -132px no-repeat;
  display: block;
}

.two {
  padding: 0 3px 0 48px;
}

.two .two-bd .jiangxiang {
  padding: 0 20px 0 20px;
}

.two .two-bd .jiangxiang .jx-bd {
  padding: 0 5px 27px 144px;
  border-bottom: 1px #a8a8a8 solid;
  color: #414141;
  font-size: 13px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -508px;
}

.two .two-bd .jiangxiang .jx-bd p {
  width: 777px;
  line-height: 24px;
  text-indent: 2em;
  margin-bottom: 2px;
  padding-left: 2px;
}

.two .two-bd .jiangxiang .jx-bd section {
  margin-top: 16px;
}

.two .two-bd .jiangxiang .jx-bd section em {
  float: left;
  font-style: normal;
  color: #fff;
  line-height: 20px;
  text-align: center;
  width: 100px;
  height: 20px;
  background: #f77933;
  margin-right: 12px;
}

.two .two-bd .jiangxiang .jx-bd section span {
  line-height: 19px;
}

.two .two-bd .jiangxiang .jx-bd section var {
  color: #0b9dce;
  font-style: normal;
}

.two-centent {
  padding-top: 33px;
  padding-left: 3px;
}

.two-centent h3 {
  width: 142px;
  height: 37px;
  color: #fff;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -660px;
  line-height: 34px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  float: left;
}

.two-centent .jieli {
  bottom: 0;
  left: 80px;
  z-index: 1;
}

.two-centent .nanbu {
  padding-left: 2px;
  height: 43px;
}

.two-centent .nanbu span {
  color: #000;
  line-height: 37px;
  font-size: 16px;
  margin-left: 18px;
}

.two-centent article {
  border-right: 1px #bababa dashed;
  padding: 0 16px 44px;
  width: 285px;
}

.two-centent article p {
  border: 2px #7dab22 solid;
  border-radius: 6px;
  width: 156px;
  padding: 10px 15px 11px 14px;
  color: #000;
  line-height: 22px;
  position: relative;
  min-height: 30px;
}

.two-centent article p var {
  position: absolute;
  width: 15px;
  height: 35px;
  top: 13px;
  left: -15px;
  z-index: 1;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -702px;
}

.two-centent article p em {
  position: absolute;
  width: 15px;
  height: 35px;
  top: 13px;
  right: -15px;
  z-index: 1;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -742px;
}

.two-centent article .nanbu-bd {
  padding-left: 2px;
  background: url(i/jiantou-y.png) 33px 0 repeat-y;
  zoom: 1;
  z-index: 5;
}

.two-centent article .nanbu-bd img {
  float: left;
  width: 76px;
  height: 96px;
  padding-top: 10px;
  background: #fff;
}

.two-centent article .nanbu-bd section {
  float: left;
  margin-left: 18px;
}

.two-centent article .nanbu-bd section strong {
  margin-left: 16px;
  line-height: 33px;
}

.two-centent article .nanbu-bd em {
  position: absolute;
  width: 10px;
  height: 23px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -782px;
  left: 33px;
  top: 106px;
}

.two-centent article .nanbu-bd span {
  display: block;
  line-height: 20px;
  margin-top: 12px;
  width: 132px;
  padding-left: 77px;
  margin-left: 34px;
  height: 59px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -810px;
  position: relative;
}

.two-centent article .nanbu-bd span i {
  font-style: normal;
  color: #f54b1f;
}

.two-centent article .nanbu-bd span b {
  position: absolute;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -874px;
  bottom: -25px;
  right: -3px;
  width: 10px;
  height: 26px;
  z-index: 1;
}

.two-centent article ul li {
  vertical-align: top;
  margin-bottom: 7px;
  position: relative;
  background: url(i/jiantou-y.png) 240px 0 repeat-y;
  zoom: 1;
}

.two-centent article ul li .jiantou {
  position: absolute;
  width: 10px;
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -905px;
  height: 18px;
  bottom: 0;
  right: 35px;
}

.two-centent article ul li .two-text {
  float: left;
  margin-right: 25px;
}

.two-centent article ul li .two-text h4 {
  height: 35px;
  padding-left: 36px;
  background: url(i/weiruan.png?__sprite1488806406010) 4px 0 no-repeat;background-position:4px -928px;
  line-height: 45px;
  color: #000;
  font-size: 16px;
  font-weight: normal;
}

.two-centent article ul li .two-tu {
  float: right;
  text-align: center;
  padding-top: 36px;
  height: 100%;
  background: #fff;
}

.two-centent article ul li .two-tu img {
  display: block;
  width: 71px;
  height: 95px;
}

.two-centent article ul li .two-tu span {
  line-height: 24px;
  margin-top: 8px;
}

.two-centent article ul .fanxiang {
  margin-bottom: 11px;
  background: url(i/jiantou-y.png) 32px 0 repeat-y;
}

.two-centent article ul .fanxiang .jiantou {
  left: 32px;
}

.two-centent article ul .fanxiang .two-text {
  float: right;
  margin: 0 0 0 25px;
}

.two-centent article ul .fanxiang .two-tu {
  float: left;
}

.two-centent .zhongbu h3 {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -964px;
}

.two-centent .zhongbu p {
  border: 2px #e57550 solid;
}

.two-centent .zhongbu p var {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -1006px;
}

.two-centent .zhongbu p em {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -1046px;
}

.two-centent .zhongbu .jieli {
  bottom: 0;
  left: 405px;
  z-index: 1;
}

.two-centent .beibu {
  border: none;
}

.two-centent .beibu h3 {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -1086px;
}

.two-centent .beibu p {
  border: 2px #49b4e8 solid;
}

.two-centent .beibu p var {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -1128px;
}

.two-centent .beibu p em {
  background: url(i/weiruan.png?__sprite1488806406010) 0 0 no-repeat;background-position:0px -1168px;
}

.two-centent .beibu .jieli {
  bottom: 0;
  left: 727px;
  z-index: 1;
}
