body,input,option,select,textarea{font-size:12px;color:#333;font-family:"Hiragino Sans GB","Microsoft Yahei",tahoma,arial,sans-serif;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,h5,h6{font-size:100%}blockquote,body,dd,dl,form,h1,h2,h3,h4,h5,h6,input,ol,option,p,select,textarea,ul{margin:0}input,ol,option,td,textarea,th,ul{padding:0}table{border-collapse:collapse}li{list-style-type:none}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}.clearfix{*zoom:1}.clear{clear:both;height:0;overflow:hidden}a{text-decoration:none;color:#333}a,input,select,textarea{outline:0}textarea{overflow:auto;resize:none}.img img{display:block}a img{border:none}.pr{position:relative}.pa{position:absolute}.fl{float:left}.fr{float:right}.m{margin:0 auto;width:970px}.t10{margin-top:10px}.hide{display:none}.show{display:block}::-ms-clear{display:none}::-ms-reveal{display:none}::-webkit-input-placeholder{color:#ccc}:-moz-placeholder{color:#ccc}::-moz-placeholder{color:#ccc}:-ms-input-placeholder{color:#ccc}
em,var,i,cite{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
h2{
    height:57px;
    background:#f4f4f4;
    padding-left:10px;
    span{
        float:left;
        font-size:18px;
        color:#666;
        line-height:57px;
    }
    em{
        background:url(i/icon.png) 0 0 no-repeat;
        float:left;
        width:18px;
        height:5px;
        margin:26px 7px 0 ;
    }
    i{
        float:left;
        font-size:14px;
        color:#999;
        line-height:57px;
    }
}
.btn{
    background:#f4f9ff;
    height:40px;
    padding-left:38px;
    a{
        float:left;
        margin-right:64px;
        line-height:40px;
        width:120px;
        span{
            float:left;
        }
        em{
            float:left;
            i{
                width:7px;
                height:4px;
                display:block;
                margin:15px 0 2px 6px;
                background:url(i/icon1.png) 0 0 no-repeat;
            }
            b{
                width:7px;
                height:4px;
                display:block;
                margin:0px 0 2px 6px;
                background:url(i/icon2.png) 0 0 no-repeat;
            }
        }
    }
    .moren{
        width:120px;
    }
}
ul{
    margin-top:10px;
    padding-left:38px;
    li{
        border: 1px #f3f3f3 solid;
        margin-bottom:10px;
        span{
            float:left;
            font-size:16px;
            margin-right:64px;
            line-height:40px;
            width:120px;
        }
        em,i{
            float:left;
            font-size:16px;
            margin-right:64px;
            line-height:40px;
            width:120px;
        }
        var{
            float:left;
            font-size:14px;
            margin-right:64px;
            line-height:40px;
            color:#666;
            width:120px;
        }
        b{
            float:left;
            font-size:16px;
            margin-right:64px;
            line-height:40px;
            color:#e23a3a;
            width:120px;
        }

    }
}