body, input, option, select, textarea {
  font-size: 12px;
  color: #333;
  font-family: "Hiragino Sans GB","Microsoft Yahei",tahoma,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

blockquote, body, dd, dl, form, h1, h2, h3, h4, h5, h6, input, ol, option, p, select, textarea, ul {
  margin: 0;
}

input, ol, option, td, textarea, th, ul {
  padding: 0;
}

table {
  border-collapse: collapse;
}

li {
  list-style-type: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

a, input, select, textarea {
  outline: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

.img img {
  display: block;
}

a img {
  border: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a:hover {
  color: #4fbb93;
}

.m {
  margin: 0 auto;
  width: 1203px;
}

.t10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

body {
  background: #f4f4f4;
}

em, var, i, cite {
  font-style: normal;
}

header {
  height: 29px;
  border-bottom: 1px #e7e7e7 solid;
  background: #fff;
}

header .header {
  height: 29px;
  z-index: 10;
}

header .header section {
  padding-right: 5px;
  position: relative;
}

header .header .beij {
  float: left;
  line-height: 31px;
  height: 29px;
  color: #666;
}

header .header .sanjiao {
  height: 4px;
  width: 8px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px 0px;
  margin: 13px 0 0 5px;
  float: left;
}

header .header em {
  float: left;
  width: 10px;
  height: 12px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -9px;
  margin: 9px 3px 0 6px;
}

header .header .gdcs {
  position: absolute;
  padding: 5px 0 0 17px;
  width: 202px;
  height: 133px;
  z-index: 1;
  border: 1px #e7e7e7 solid;
  top: 29px;
  left: 0;
  background: #fff;
  display: none;
}

header .header .gdcs p {
  line-height: 42px;
  color: #999;
}

header .header .gdcs ul li {
  float: left;
  width: 46px;
  height: 22px;
  overflow: hidden;
}

header .header .gdcs ul li a {
  line-height: 22px;
  color: #666;
}

header .header .gdcs .gengduoc {
  line-height: 42px;
  color: #999;
  margin: 0;
}

header .header.hover em {
  margin-left: 5px;
}

header ul .hd-li {
  line-height: 30px;
  height: 29px;
  padding: 0 11px 0 0;
}

header ul .hd-li span {
  margin: 9px 11px 0 0;
  background: url(i/index.png?__sprite1489384312590) 0 0 repeat;background-position:0px -26px;
  width: 2px;
  height: 13px;
  float: left;
}

header ul .hd-li a {
  color: #666;
  float: left;
}

header ul .qgms {
  position: relative;
  padding-left: 11px;
}

header ul .header-dengl .denglu-value {
  color: #ff0000;
}

header ul .header-dengl a {
  margin-right: 14px;
}

header ul .header-deng2 a {
  margin-right: 14px;
  color: #ff0000;
}

.qgms-bd {
  position: absolute;
  top: 29px;
  border: 1px #e7e7e7 solid;
  padding: 4px 0 16px 16px;
  width: 186px;
  left: -1px;
  z-index: 5;
  background: #fff;
  display: none;
}

.qgms-bd h5 {
  font-weight: normal;
  line-height: 42px;
  color: #999;
}

.qgms-bd ol li {
  float: left;
  height: 21px;
  margin-right: 21px;
}

.qgms-bd ol li a {
  line-height: 21px;
  color: #666;
}

.ding-i {
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px #fff solid;
  bottom: -1px;
  left: 0px;
  z-index: 10;
  display: none;
}

.lm-one {
  height: 80px;
  background: #fff;
}

.lm-one h2 {
  height: 80px;
  width: 288px;
  overflow: hidden;
}

.lm-one h2 a {
  height: 80px;
  width: 288px;
  overflow: hidden;
  display: block;
}

.lm-one h2 a img {
  display: block;
  height: 80px;
  width: 288px;
}

.lm-one .dingyue {
  float: right;
  margin: 16px 1px 0 60px;
  padding-left: 45px;
  background: #30bb5a url(i/index.png?__sprite1489384312590) 20px 0 no-repeat;background-position:20px -44px;
  width: 75px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

.lm-one article {
  float: right;
  padding-top: 16px;
}

.lm-one article section {
  border: 2px #ff6600 solid;
  padding-left: 10px;
  height: 28px;
}

.lm-one article section a {
  float: left;
  height: 16px;
  width: 52px;
  border-right: 1px #ccc solid;
  margin-top: 6px;
  line-height: 17px;
  color: #666;
  background: url(i/index.png?__sprite1489384312590) 34px 0 no-repeat;background-position:34px -81px;
}

.lm-one article section a:hover {
  color: #30bb5a;
}

.lm-one article section input {
  border: none;
  background: none;
  float: left;
  height: 28px;
}

.lm-one article section .input1 {
  width: 376px;
  margin-left: 9px;
  color: #999;
  line-height: 28px;
}

.lm-one article section .input2 {
  width: 48px;
  height: 28px;
  background: #ff6600 url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -103px;
}

.lm-one article aside a {
  margin-right: 14px;
  color: #999;
  line-height: 22px;
}

.lm-one article aside a:hover {
  color: #30bb5a;
}

nav {
  height: 40px;
  background: #333;
}

.nav {
  padding-left: 1px;
}

.nav li {
  float: left;
  margin-right: 10px;
  position: relative;
}

.nav li a {
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  height: 40px;
  display: block;
  padding: 0 26px;
}

.nav li em {
  position: absolute;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -140px;
  width: 26px;
  height: 15px;
  top: -4px;
  right: 0;
  z-index: 1;
  color: #fff;
}

.nav li dl {
  background: #fff;
  border: 1px #e7e7e7 solid;
  width: 288px;
  height: 158px;
  bottom: -160px;
  left: -90px;
  z-index: 1;
}

.nav li dl dd {
  float: left;
  margin: 19px 0 0 23px;
  width: 120px;
  height: 120px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -160px;
}

.nav li dl dt {
  margin-left: 159px;
  position: relative;
}

.nav li dl dt p {
  font-size: 14px;
  line-height: 52px;
  color: #666;
  margin-bottom: 1px;
}

.nav li dl dt span {
  display: block;
  background: #42c25e url(i/index.png?__sprite1489384312590) 10px 4px no-repeat;background-position:10px -289px;
  width: 78px;
  height: 30px;
  padding-left: 32px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.nav li dl dt .and {
  background: #42c25e url(i/index.png?__sprite1489384312590) 10px 4px no-repeat;background-position:10px -315px;
}

.nav li dl dt b {
  position: absolute;
  width: 14px;
  height: 11px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -336px;
  top: -10px;
  left: -18px;
  z-index: 1;
}

.nav .current a, .nav li:hover a {
  background: #f60;
  text-decoration: none;
}

.banner {
  height: 298px;
  background: #2e6eb6;
}

.banner img {
  display: block;
  height: 298px;
  width: 1107px;
  margin-left: 95px;
}

h3 {
  height: 37px;
  padding: 22px 1px 0;
  font-weight: normal;
}

h3 span {
  line-height: 36px;
  float: left;
  font-size: 18px;
}

h3 a {
  float: right;
  line-height: 40px;
  height: 36px;
  color: #30bb5a;
}

h3 a var {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -351px;
  display: inline-block;
  margin-left: 5px;
  width: 11px;
  height: 12px;
  margin-top: 14px;
}

h3 .gengduo1 {
  margin-right: 19px;
}

.lm-mstj {
  padding-left: 1px;
  overflow: hidden;
}

.lm-mstj ul {
  width: 1300px;
}

.lm-mstj ul li {
  margin-right: 20px;
  width: 285px;
  background: #fff;
  height: 295px;
}

.lm-mstj ul li dl {
  padding: 25px 0 0 25px;
  background: #4fbb93;
  height: 105px;
}

.lm-mstj ul li dl dt {
  float: left;
}

.lm-mstj ul li dl dt a {
  display: block;
}

.lm-mstj ul li dl dt a img {
  display: block;
  width: 80px;
  height: 80px;
}

.lm-mstj ul li dl dd {
  margin-left: 95px;
  height: 22px;
  width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  color: #fff;
}

.lm-mstj ul li dl .name {
  margin-top: 4px;
  height: 29px;
}

.lm-mstj ul li dl .name a {
  color: #fff;
  font-size: 18px;
  line-height: 29px;
}

.lm-mstj ul li div {
  border: 1px #e7e7e7 solid;
  border-top: none;
  padding: 18px 0 16px 0;
  height: 130px;
}

.lm-mstj ul li p {
  height: 26px;
  padding-left: 23px;
  width: 260px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lm-mstj ul li p a {
  color: #666;
  line-height: 26px;
}

.lm-mstj ul li p em {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -368px;
  height: 11px;
  width: 24px;
  position: absolute;
  bottom: 7px;
  margin-left: 3px;
}

.lm-mstj ul li i {
  width: 58px;
  height: 20px;
  background: #b68ffd;
  color: #fff;
  line-height: 20px;
  text-align: center;
  right: 0;
  z-index: 1;
  top: 0;
  font-style: normal;
}

.lm-mstj ul li .gaozhong {
  background: #ff7474;
}

.lm-two-l {
  height: 429px;
  width: 897px;
  overflow: hidden;
}

.lm-two-l article {
  padding-left: 1px;
  width: 898px;
}

.lm-two-l article h3 {
  float: left;
}

.lm-two-l article ul {
  margin-top: 32px;
  margin-left: 222px;
}

.lm-two-l article ul li {
  float: left;
  margin-left: 15px;
  height: 22px;
  padding: 0 5px;
  width: 28px;
}

.lm-two-l article ul .cur, .lm-two-l article ul li:hover {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -384px;
}

.lm-two-l article ul .cur a, .lm-two-l article ul li:hover a {
  color: #fff;
  text-decoration: none;
}

.lm-two-l article a {
  color: #39ba5e;
  font-size: 14px;
  line-height: 22px;
  display: block;
}

.lm-two-l article .gengduo {
  margin-top: 32px;
  float: right;
  margin-right: 1px;
  color: #39ba5e;
  font-size: 12px;
  line-height: 22px;
}

.lm-two-l ol {
  padding-left: 1px;
  width: 915px;
  height: 352px;
}

.lm-two-l ol li {
  border: 1px #e7e7e7 solid;
  padding: 20px 28px 11px 19px;
  vertical-align: top;
  position: relative;
  background: #fff;
  margin: 0 20px 18px 0;
  height: 125px;
  width: 236px;
  float: left;
}

.lm-two-l ol li dl {
  padding-left: 1px;
  border-bottom: 1px #eaeaea solid;
  padding-bottom: 16px;
  margin-bottom: 10px;
}

.lm-two-l ol li dl dd {
  float: left;
}

.lm-two-l ol li dl dd img {
  display: block;
  width: 70px;
  height: 70px;
}

.lm-two-l ol li dl dt {
  margin-left: 85px;
  height: 74px;
}

.lm-two-l ol li dl dt h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

.lm-two-l ol li dl dt em {
  display: block;
  width: 58px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin: 8px 0 4px;
  background: #ff7474;
}

.lm-two-l ol li dl dt .chuzhong {
  background: #b68ffd;
}

.lm-two-l ol li dl dt p {
  color: #30bb5a;
  line-height: 22px;
  height: 22px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lm-two-l ol li span {
  margin-left: 28px;
  font-size: 14px;
  color: #999;
  line-height: 24px;
  float: left;
}

.lm-two-l ol li i {
  float: left;
  width: 24px;
  height: 24px;
  border-right: 1px #e6e6e6 solid;
}

.lm-two-l ol li a {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.gengduo {
  margin-top: 32px;
  float: right;
  margin-right: 1px;
  color: #39ba5e;
  font-size: 12px;
  line-height: 22px;
}

.lunbo {
  text-align: center;
  font-size: 0;
}

.lunbo a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 11px;
  border: 2px #f4f4f4 solid;
}

.lunbo .cur {
  border: 2px #56bc75 solid;
  background: #fff;
}

.lm-two-r {
  width: 285px;
}

.lm-two-r ul {
  border: 1px #e7e7e7 solid;
  padding: 2px 18px 0 20px;
  height: 330px;
  overflow: hidden;
  background: #fff;
}

.lm-two-r ul li {
  width: 245px;
  vertical-align: top;
  border-bottom: 1px #e7e7e7 solid;
}
.lm-two-r ul .cur .juti1{
  display:none;
}
.lm-two-r ul .cur .juti{
  display:block;
}
.lm-two-r ul li em {
  float: left;
  color: #9a9a9a;
  font-size: 24px;
  line-height: 46px;
  margin: 0 11px 0 6px;
}

.lm-two-r ul li .diyi {
  color: #ff0101;
}

.lm-two-r ul li .dier {
  color: #ff6b1a;
}

.lm-two-r ul li .disan {
  color: #ffa716;
}

.lm-two-r ul li b {
  float: left;
  font-size: 14px;
  line-height: 46px;
  font-weight: normal;
}

.lm-two-r ul li span {
  color: #999;
  line-height: 48px;
  float: left;
  height: 47px;
  margin: 0 0 0 9px;
}

.lm-two-r ul li var {
  float: right;
  color: #999;
  line-height: 48px;
  height: 47px;
}

.lm-two-r ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

/*.lm-two-r ul li:hover .juti {
  display: block;
}

.lm-two-r ul li:hover .juti1 {
  display: none;
}*/

.lm-two-r ul .juti {
  padding-top: 23px;
  height: 115px;
}

.lm-two-r ul .juti em {
  margin: 0 14px 0 2px;
}

.lm-two-r ul .juti dl dd {
  float: left;
}

.lm-two-r ul .juti dl dd img {
  display: block;
  width: 80px;
  height: 80px;
}

.lm-two-r ul .juti dl dt {
  margin-left: 90px;
}

.lm-two-r ul .juti dl dt h4 {
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
}

.lm-two-r ul .juti dl dt p {
  line-height: 22px;
  color: #999;
}

.lm-three-l article {
  border: 1px #e7e7e7 solid;
  background: #fff;
  height: 292px;
  width: 893px;
  margin-left: 1px;
}

.lm-three-l article section {
  border-bottom: 1px #e7e7e7 solid;
}

.lm-three-l article ul {
  padding-left: 16px;
}

.lm-three-l article ul li {
  float: left;
  width: 54px;
  height: 38px;
  margin-right: 7px;
  position: relative;
}

.lm-three-l article ul li a {
  color: #666;
  font-size: 14px;
  line-height: 38px;
  position: absolute;
  top: 0;
  width: 54px;
  height: 38px;
  z-index: 1;
  text-align: center;
}

.lm-three-l article ul .cur a, .lm-three-l article ul li a:hover {
  border-left: 1px #e7e7e7 solid;
  border-right: 1px #e7e7e7 solid;
  border-top: 2px #30bb5a solid;
  border-bottom: 1px #fff solid;
  top: -1px;
  height: 37px;
  color: #3ec065;
  line-height: 36px;
  width: 52px;
}

.lm-three-l article .gengduo {
  margin-top: 8px;
  margin-right: 21px;
}

.lm-three-l aside {
  padding-left: 37px;
  padding-top: 10px;
  height: 68px;
  overflow: hidden;
}

.lm-three-l aside a {
  float: left;
  color: #666;
  padding: 0 10px 0 9px;
  margin: 10px 10px 0 0;
  background: #f4f4f4;
  max-width: 130px;
  line-height: 23px;
  height: 24px;
  white-space: nowrap;
}

.lm-three-l aside .cur {
  color: #3ec065;
}

.lm-three-l ol {
  padding: 20px 0 0 37px;
}

.lm-three-l ol li {
  float: left;
  margin-right: 20px;
  width: 190px;
  height: 106px;
  background: #6d9cb9;
  text-align: center;
}

.lm-three-l ol li a {
  display: block;
  font-size: 20px;
  color: #fff;
  line-height: 106px;
}

.lm-three-l ol li a:hover {
  text-decoration: none;
}

.lm-three-l ol .dier {
  background: #075143;
}

.lm-three-l ol .disan {
  background: #98bd59;
}

.lm-three-l ol .disi {
  background: #b68ffd;
}

.lm-three-l .gdwk {
  line-height: 47px;
  color: #999;
  display: block;
  width: 151px;
  margin: 0 auto;
}

.lm-three-r ol {
  height: 292px;
  border: 1px #e7e7e7 solid;
  background: #fff;
  overflow: hidden;
}

.lm-three-r ol li {
  width: 245px;
  padding: 0 18px 0 20px;
  vertical-align: top;
}

.lm-three-r ol li em {
  float: left;
  font-size: 24px;
  color: #9a9a9a;
  line-height: 58px;
  margin: 0 12px 0 8px;
}

.lm-three-r ol li .diyi {
  color: #ff0101;
}

.lm-three-r ol li .dier {
  color: #ff6b1a;
}

.lm-three-r ol li .disan {
  color: #ffa716;
}

.lm-three-r ol li b {
  float: left;
  font-size: 14px;
  line-height: 58px;
  font-weight: normal;
}

.lm-three-r ol li span {
  float: right;
  color: #999;
  line-height: 60px;
  height: 58px;
}

.lm-three-r ol li a {
  display: block;
  height: 58px;
  border-bottom: 1px #e7e7e7 solid;
}

.lm-three-r ol li a:hover {
  text-decoration: none;
}

.lm-three-r ol li:hover {
  background: #f4f4f4;
}

.lm-four-l {
  width: 896px;
}

.lm-four-l article {
  margin-left: 2px;
  margin-right: 20px;
  width: 270px;
  height: 279px;
  padding-left: 18px;
  border: 1px #e7e7e7 solid;
  float: left;
  background: #fff;
}

.lm-four-l article p {
  height: 44px;
}

.lm-four-l article p a {
  font-size: 14px;
  color: #666;
  line-height: 44px;
}

.lm-four-l article .a-img {
  display: block;
  margin-left: 1px;
}

.lm-four-l article .a-img img {
  width: 250px;
  height: 210px;
}

.lm-four-l aside {
  width: 542px;
  height: 268px;
  border: 1px #e7e7e7 solid;
  padding: 11px 0 0 40px;
  float: left;
  background: #fff;
}

.lm-four-l aside p {
  line-height: 33px;
  font-size: 14px;
  color: #666;
  height: 33px;
}

.lm-four-l aside ul {
  padding-left: 1px;
}

.lm-four-l aside ul li {
  float: left;
  width: 78px;
  height: 78px;
  margin: 20px 25px 0 0;
  border: 1px #e7e7e7 solid;
  position: relative;
  background: #f9f9f9;
}

.lm-four-l aside ul li var {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -411px;
  display: block;
  width: 78px;
  height: 36px;
}

.lm-four-l aside ul a {
  position: absolute;
  padding-top: 37px;
  line-height: 40px;
  width: 80px;
  height: 43px;
  top: -1px;
  left: -1px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
}

.lm-four-l aside ul a:hover {
  color: #fff;
  text-decoration: none;
  background: #39ba5e url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -452px;
  width: 80px;
  height: 43px;
}

.lm-four-l aside ul em {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  z-index: 1;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -537px;
}

.lm-four-l aside ul .like {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -558px;
}

.lm-four-r {
  width: 286px;
}

.lm-four-r ol {
  border-bottom: 1px #e7e7e7 solid;
}

.lm-four-r ol li {
  border-top: 1px #e7e7e7 solid;
  width: 286px;
  height: 55px;
  vertical-align: top;
}

.lm-four-r ol li .a-img {
  display: block;
  margin-top: 10px;
  float: left;
}

.lm-four-r ol li .a-img img {
  width: 35px;
  height: 35px;
}

.lm-four-r ol li p {
  margin-left: 45px;
  padding-top: 10px;
  height: 36px;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lm-four-r ol li p a {
  line-height: 36px;
  color: #666;
  font-size: 14px;
}

.lm-five {
  overflow: hidden;
}

.lm-five ul {
  padding-left: 1px;
  width: 1300px;
  height: 650px;
  overflow: hidden;
}

.lm-five ul li {
  background: #fff;
  border: 1px #e7e7e7 solid;
  padding: 19px 0 0 19px;
  width: 199px;
  height: 279px;
  float: left;
  margin: 0 26px 30px 0;
  position: relative;
}

.lm-five ul li img {
  display: block;
  width: 180px;
  height: 180px;
  margin-bottom: 4px;
}

.lm-five ul li b {
  display: block;
  text-align: center;
  line-height: 37px;
  font-size: 14px;
  font-weight: normal;
  width: 180px;
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lm-five ul li div {
  width: 153px;
  margin: 0 auto;
}

.lm-five ul li div span {
  color: #999;
  line-height: 22px;
  float: left;
  width: 69px;
}

.lm-five ul li div em {
  float: left;
  width: 2px;
  height: 15px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -579px;
  margin: 4px 13px  0 0px;
}

.lm-five ul li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  left: 0;
}

.lm-five ul li:hover {
  box-shadow: 0 0 9px #d9d9d9;
}

.lm-six-bd {
  width: 1300px;
}

.lm-six {
  overflow: hidden;
}

.lm-six ul {
  padding-bottom: 35px;
}

.lm-six ul li {
  margin: 8px 25px 0 0;
  width: 260px;
  height: 266px;
  float: left;
  position: relative;
}

.lm-six ul li img {
  display: block;
  width: 260px;
  height: 146px;
}

.lm-six ul li a {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  position: absolute;
}

.lm-six ul li em {
  position: absolute;
  z-index: 1;
  width: 260px;
  height: 146px;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: black;
}

.lm-six ul li em i {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -599px;
  display: block;
  width: 51px;
  height: 51px;
  margin: 49px auto 0;
}

.lm-six ul li div {
  width: 258px;
  height: 94px;
  border: 1px #e7e7e7 solid;
  padding-top: 25px;
  text-align: center;
  background: #fff;
}

.lm-six ul li div b {
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  margin-right: 16px;
}

.lm-six ul li div span {
  color: #999;
  font-size: 14px;
  line-height: 32px;
}

.lm-six ul li div p {
  font-size: 14px;
  color: #666;
  line-height: 33px;
  width: 194px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
}

.lm-six ul li:hover div {
  background: #39ba5e;
  border: 1px #39ba5e solid;
  color: #fff;
}

.lm-six ul li:hover div span {
  color: #fff;
}

.lm-six ul li:hover div p {
  color: #fff;
}

.lm-six ul li:hover em {
  display: block;
}

.lm-six article {
  float: left;
  margin: 128px 30px 0 1px;
}

.lm-six article a {
  display: block;
  width: 12px;
  height: 28px;
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -655px;
}

.lm-six article .jiantou {
  background: url(i/index.png?__sprite1489384312590) 0 0 no-repeat;background-position:0px -688px;
}

.lm-seven {
  overflow: hidden;
}

.lm-seven ol {
  width: 1250px;
  padding-bottom: 93px;
}

.lm-seven ol li {
  float: left;
  width: 288px;
  text-align: center;
  margin: 0 15px 0 0;
  padding-top: 50px;
}

.lm-seven ol li em {
  display: block;
  background: url(i/index.png?__sprite1489384312590) 111px 0 no-repeat;background-position:111px -721px;
  width: 288px;
  height: 79px;
}

.lm-seven ol li p {
  font-size: 18px;
  line-height: 50px;
}

.lm-seven ol li span {
  display: block;
  font-size: 14px;
  color: #aaa;
  line-height: 24px;
  height: 24px;
  width: 288px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lm-seven ol .wei2 em {
  background: url(i/index.png?__sprite1489384312590) 111px 0 no-repeat;background-position:111px -805px;
}

.lm-seven ol .wei3 em {
  background: url(i/index.png?__sprite1489384312590) 108px 0 no-repeat;background-position:108px -889px;
}

.lm-seven ol .wei4 em {
  background: url(i/index.png?__sprite1489384312590) 111px 0 no-repeat;background-position:111px -973px;
}
