<header class="header">
    <div class="m clearfix ">
        <h2><a href="#"><img src="images/logo.png" alt=""/>找销网</a>找销网</h2>
        <ol>
            <li class="cur"><a href="#">简历管理</a></li>
            <li><a href="#">公司主页</a></li>
            <li><a href="#">发布职位</a></li>
            <li><a href="#">职位管理</a></li>
        </ol>
        <section class="hide"><a class="name" href="#"><span>注册</span><em></em></a><a class="name" href="#"><span>登录</span><em></em></a></section>
        <a class='name' href=""><span>王成伟</span><em></em></a>
    </div>
</header>