@import"qbjc";
.dajx-vadio{
    background:url(i/dajx.png?__base64) 0 0 no-repeat;
    height:pxToRem(216);
    background-size:100% 100%;
    padding-top:pxToRem(143);
    .dajx-bo{
        height:pxToRem(71);
        width:pxToRem(71);
        background:url(i/dajx-a.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
        margin:0 auto;
        // display:block;
        display:none;
    }
    .dajx-download{
        display:block;
        // display:none;
        text-align:center;
        p{
            font-size:pxToRem(25);
            color:#999;
            line-height:pxToRem(26);
            margin-bottom:pxToRem(50);
            top:pxToRem(143);
            z-index:1;
        }
        a{
            display:block;
            width:pxToRem(320);
            height:pxToRem(78);
            background:#00b459;
            border-radius:pxToRem(6);
            font-size:pxToRem(28);
            color:#fff;
            line-height:pxToRem(78);
            text-align:center;
            margin:0 auto;
        }
    }
}
.dajx-laoshi{
    height:pxToRem(108);
    border-top:pxToRem(1) #f1f1ee solid;
    padding:pxToRem(29) 0 0 pxToRem(29);
    border-bottom:pxToRem(1) #f1f1ee solid;
    dt{
        float:left;
        img{
            display:block;
            width:pxToRem(79);
            height:pxToRem(79);
        }
    }
    dd{
        margin-left:pxToRem(96);
        height:pxToRem(38);
        line-height:pxToRem(38);
        color:#999;
        font-size:pxToRem(24);
        b{
            line-height:pxToRem(35);
            color:#333;
            font-size:pxToRem(30);
            float:left;
            font-weight:normal;
        }
        span{
            float:left;
            margin:pxToRem(7) 0 0 pxToRem(16);
            border-radius:pxToRem(1);
            background:#ee774c;
            color:#fff;
            padding:pxToRem(5) pxToRem(4);
            font-size:pxToRem(14);
            line-height:pxToRem(14);
        }
    }
    .dl-pa{
        background:#01b459;
        border-radius:pxToRem(5);
        width:pxToRem(140);
        height:pxToRem(64);
        top:pxToRem(37);
        right:pxToRem(17);
        z-index:1;
        text-align:center;
        display:none;
        display:block;
        a{
            color:#fff;
            font-size:pxToRem(30);
            line-height:pxToRem(63);
        }
    }
}
.dajx-timu{
    // height:pxToRem(279);
    background:#f5f4f0;
    // overflow:hidden;
    border-bottom:pxToRem(1) #eeedeb solid;
    padding-top:pxToRem(18);
    section{
        padding:0 pxToRem(28) 0 pxToRem(26);
        span{
            line-height:pxToRem(80);
            font-size:pxToRem(30);
            color:#333;
            float:left;
        }
        em{
            float:right;
            width:pxToRem(18);
            height:pxToRem(11);
            background:url(i/icon7.png?__base64) 0 0 no-repeat;
            background-size:100% 100%;
            margin-top:pxToRem(37);
            // transform:rotate(180deg);
        }
    }
}
.xian{
    height:pxToRem(9);
    border-top:pxToRem(1) #e5e4e0 solid;
    margin:0 pxToRem(30);
    margin-bottom:pxToRem(12);
}
.dajx-timu-bd{
    line-height:pxToRem(39);
    padding:0 pxToRem(20) 0 pxToRem(25);
    color:#333;
    font-size:pxToRem(30);
    
}
.dajx-h3{
    h3{
       padding-top:pxToRem(21);
        padding-left:pxToRem(25);
        color:#333;
        line-height:pxToRem(50);
        font-size:pxToRem(30);
        font-weight:normal;
        margin-bottom:pxToRem(12);
    }
    
}
.dajx-mjx{
    height:pxToRem(455);
    background:#f5f4f0;
    text-align:center;
    border-top:pxToRem(1) #eeedeb solid;
    display:none;
    em{
        margin:pxToRem(99) auto 0;
        display:block;
        width:pxToRem(192);
        height:pxToRem(182);
        background:url(i/mjx.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
    }
    span{
        color:#666;
        font-size:pxToRem(26);
        line-height:pxToRem(81);
    }
}
.ttxs-download{
    position:fixed;
    bottom:0;
    width:100%;
    height:pxToRem(100);
    z-index:10;
    i{
        display:block;
        position:absolute;
        z-index:1;
        width:100%;
        height:pxToRem(100);
        opacity:0.7;
        background:#333;
    }
    article{
        position:absolute;
        height:pxToRem(80);
        padding:pxToRem(20) pxToRem(29) 0 pxToRem(31);
        z-index:10;
        width:100%;
        box-sizing:border-box;
        a{
            display:block;
            dl{
                float:left;
                dt{
                    background:url(i/logo.png?__base64) 0 0 no-repeat;
                    width:pxToRem(60);
                    height:pxToRem(60);
                    background-size:100% 100%;
                    float:left;
                }
                dd{
                    color:#42ca5e;
                    line-height:pxToRem(25);
                    font-size:pxToRem(18);
                    margin-left:pxToRem(80);
                }
                .tiant{
                    color:#fff;
                    line-height:pxToRem(35);
                    font-size:pxToRem(26);
                }
            }
            section{
                float:right;
                color:#fff;
                font-size:pxToRem(28);
                line-height:pxToRem(60);
                height:pxToRem(60);
                padding-left:pxToRem(82);
                width:pxToRem(98);
                background:#42ca5e url(i/icon8.png?__base64) pxToRem(38) pxToRem(13) no-repeat;
                background-size:pxToRem(30) pxToRem(32);
                border-radius:pxToRem(28);
            }
        }
    }
}