.banner{
    padding:0 pxToRem(10) pxToRem(20);
    border-top:pxToRem(1) #dedede solid;
    border-bottom:pxToRem(1) #dedede solid;
    background:#fff;
    li{
        width:50%;
        margin-top:pxToRem(20);
        padding:0 pxToRem(10) 0 pxToRem(10);
        box-sizing:border-box;
        img{
            display:block;
            height:pxToRem(145);
            border-radius:4px;
            width:100%;
        }
        a{
            height:pxToRem(145);
            background:red;
            opacity:0;
            border:1px blue solid;
            z-index:1;
            width:100%;
            left:0;
            top:0;
        }
        div {
            position:absolute;
            height:100%;
            width:pxToRem(1);
            background:red;
            right:0;
            top:0;
        }
    }
    li:nth-child(even){
        div {
            display:none;
        }
    }
    li:nth-child(1){
         div {
            display:none;
        }
    }
    li:nth-child(odd){
         div {
            display:none;
        }
    }
}
.kongde{
    height:pxToRem(19);
    background:#f5f4f0;
    border-bottom:1px #dedede solid;
}
.tjxx{
    padding:pxToRem(29) pxToRem(17) pxToRem(27) pxToRem(20);
    border-top:1px #edece8 solid;
    border-bottom:1px #edece8 solid;
    background:#fff;
    li{
        width:33.3333%;
        box-sizing:border-box;
        padding:0 pxToRem(11) 0 pxToRem(8);
        img{
            display:block;
            width:pxToRem(137);
            height:pxToRem(137);
            border:1px #e5e5e5 solid;
            border-radius:pxToRem(7);
            padding:pxToRem(21);
        }
        div{
            margin-top:pxToRem(16);
            box-sizing:border-box;
            width:100%;
            padding-left:pxToRem(7);
            b{
                line-height:pxToRem(32);
                font-size:pxToRem(24);
                color:#333;
                display:block;
                height:pxToRem(32);
                width:100%;
                overflow:hidden;
            }
            p{
                padding-left:pxToRem(34);
                line-height:pxToRem(25);
                font-size:pxToRem(22);
                color:#999;
                background:url(i/icon6s.png?__base64) pxToRem(2) pxToRem(3) no-repeat;
                background-size:pxToRem(20) pxToRem(20);
            }
        }
        a{
            height:100%;
            width:95%;
            z-index:1;
            left:0;
            top:0; 
        }
    }
}
.gongzuoshi{
    border-top:1px #edece8 solid;
    background:#fff;
        li{
            border-bottom:1px #edece8 solid;
            padding:pxToRem(28) 0 0 pxToRem(29);
            height:pxToRem(151);
            a{
                display:block;
                img{
                    height:pxToRem(120);
                    width:pxToRem(120);
                    border-radius:pxToRem(5);
                    float:left;
                }
                div{
                    margin-left:pxToRem(146);
                    strong{
                        line-height:pxToRem(45);
                        font-size:pxToRem(28);
                        color:#333;
                        display:block;
                        height:pxToRem(45);
                        width:100%;
                        overflow:hidden;
                    }
                    p{
                        line-height:pxToRem(39);
                        font-size:pxToRem(22);
                        color:#999;
                        padding-left:pxToRem(35);
                        background:url(i/icon7s.png?__base64) 0 pxToRem(13) no-repeat;
                        background-size:pxToRem(22) pxToRem(16);
                    }
                    .gzs-icon{
                        background:url(i/icon8s.png?__base64) 0 pxToRem(10) no-repeat;
                        background-size:pxToRem(20) pxToRem(20);
                    }
                }
            }
        }
}