@import"mobile";
header{
    height:pxToRem(67);
    background:#00b459;
    padding:pxToRem(31) pxToRem(20) 0 0;
    em{
        float:left;
        background:url(i/icon1.png?__base64) pxToRem(30) 0 no-repeat;
        width:33%;
        height:pxToRem(34);
        background-size:pxToRem(19) pxToRem(34);
    }
    span{
        float:left;
        width:34%;
        text-align:center;
    }
    a{
        font-size:pxToRem(32);
        color:#f4f4f4;
        line-height:pxToRem(36);
    }
    p{
        float:right;
        background:url(i/icon2.png?__base64) right pxToRem(16) no-repeat;
        background-size:pxToRem(15) pxToRem(8);
        padding-right:pxToRem(24);
    }
}
.xuexiao{
    li{
        float:left;
        width:50%;
        height:pxToRem(151);
        box-sizing:border-box;
        border-bottom:pxToRem(1) #ecebeb solid;
        border-right:pxToRem(1) #ecebeb solid;
        padding:pxToRem(29) 0 pxToRem(25) pxToRem(20);
        a{
            display:block;
            img{
                float:left;
                width:pxToRem(90);
                height:pxToRem(90);
                border:pxToRem(1) #e5e5e5 solid;
                border-radius:pxToRem(6);
                margin-right:pxToRem(18);
            }
            p{
                line-height:pxToRem(38);
                font-size:pxToRem(26);
                color:#333;
                height:pxToRem(38);
                padding-right:pxToRem(23);
                overflow:hidden;
            }
            span{
                line-height:pxToRem(24);
                margin-top:pxToRem(29);
                padding-left:pxToRem(30);
                color:#999;
                font-size:pxToRem(22);
                background:url(i/icon3.png?__base64) 0 0 no-repeat;
                background-size:pxToRem(20) pxToRem(20);
                float:left;
            }
        }
    }
}