.jiaoshi{
    background:#f5f4f0;
    padding-left:pxToRem(20);
    li{
        width:50%;
        padding-right:pxToRem(18);
        margin-top:pxToRem(20);
        float:left;
        box-sizing:border-box;

        div{
            background:#fff;
            border:pxToRem(1) #eaeaea solid;
            height:pxToRem(212);
            padding-left:pxToRem(22);
            padding-right:pxToRem(22);
            position:relative;
            a{
            position:absolute;
            top:0;
            width:100%;
            height:100%;
            z-index:10;
            left:0;
            }
        }

        dl{
            height:pxToRem(151);
            border-bottom:pxToRem(1) #ebebeb solid;
            dd{
                float:left;
                padding-top:pxToRem(41);
                img{
                    display:block;
                    height:pxToRem(80);
                    width:pxToRem(80);
                }
            }
            dt{
                padding-top:pxToRem(34);
                margin-left:pxToRem(101);
                h3{
                    color:#333;
                    line-height:pxToRem(31);
                    font-size:pxToRem(28);
                }
                span{
                    display:block;
                    color:#999;
                    line-height:pxToRem(25);
                    font-size:pxToRem(22);
                    margin-bottom:pxToRem(6);
                }
                em{
                    font-style:normal;
                    font-size:pxToRem(22);
                    color:#fff;
                    // line-height:pxToRem(22);
                    padding:pxToRem(6) pxToRem(5) pxToRem(5);
                    // display:block;
                }
                .teji{
                    background:#ee774c;
                }
                .erji{
                    background:#6897c6;
                }
                .yiji{
                    background:#fac330;
                }
                .gaoji{
                    background:#56bc75;
                }
            }
        }
        p{
            line-height:pxToRem(60);
            color:#999;
            font-size:pxToRem(22);
            text-align:center;
            height:pxToRem(60);
            overflow:hidden;
        }
    }
}
.wkbeij{
    background:#f2d186 url(i/wkbeij.png?__base64) 0 bottom no-repeat;
    background-size:100% pxToRem(696);
    height:pxToRem(826);
    padding-top:pxToRem(83);
    color:#fff;
    text-align:center;
    h2{
        line-height:pxToRem(72);
        font-size:pxToRem(64);
    }
    p{
        line-height:pxToRem(43);
        font-size:pxToRem(30);
        margin-bottom:pxToRem(23);
    }
    a{
        display:block;
        background:#f4d899;
        border:pxToRem(2) #fff solid;
        height:pxToRem(56);
        width:pxToRem(296);
        line-height:pxToRem(56);
        color:#fff;
        font-size:pxToRem(24);
        margin:0 auto;
        border-radius:pxToRem(27);
    }
}