.ding-a{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.xingxing{
    a{
        float:left;
        width:pxToRem(30);
        height:pxToRem(29);
        background:url(i/xing.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
        margin-right:pxToRem(12);
    }
}
.star{
    a{
        float:left;
        width:pxToRem(30);
        height:pxToRem(29);
        background:url(i/xing.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
        margin-right:pxToRem(12);
    }
}
.star1{
    height:pxToRem(64);
    span{
        float:left;
        color:#333;
        line-height:pxToRem(58);
        font-size:pxToRem(28);
        margin-right:pxToRem(20);
    }
    a{
        background:url(i/xing1.png?__base64) 0 0 no-repeat;
        width:pxToRem(21);
        height:pxToRem(20);
        margin:pxToRem(18) pxToRem(7) 0 0;
        background-size:pxToRem(21) pxToRem(20);
    }
}

.xingx1{
    height:pxToRem(64);
    span{
        float:left;
        color:#333;
        line-height:pxToRem(58);
        font-size:pxToRem(28);
        margin-right:pxToRem(20);
    }
    a{
        background:url(i/xing1.png?__base64) 0 0 no-repeat;
        width:pxToRem(21);
        height:pxToRem(20);
        margin:pxToRem(18) pxToRem(7) 0 0;
        background-size:pxToRem(21) pxToRem(20);
    }
}
.pinglun{
    position:fixed;
    width:pxToRem(90);
    height:pxToRem(90);
    bottom:pxToRem(40);
    right:pxToRem(42); 
    background:url(i/pl.png?__base64) 0 0 no-repeat;
    background-size:100% 100%;
}