
@import"mobile";
@import"shouye";
@import"gdkc";
header{
    height:pxToRem(60);
    background:#00b459;
    padding:pxToRem(19)  pxToRem(20);
    span{
        float:left;
        color:#f4f4f4;
        font-size:pxToRem(32);
        line-height:pxToRem(60);
        
    }
    .sousuo{
        background:url(i/icon.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
        padding:0 pxToRem(21) 0 pxToRem(23);
        margin-left:pxToRem(151);
        margin-right:pxToRem(107);
        height:pxToRem(60);
        em{
            background:url(i/icon1s.png?__base64) 0 0 no-repeat;
            background-size:100% 100%; 
            width:pxToRem(26);
            height:pxToRem(26);
            margin-top:pxToRem(17);
            float:left;
            margin-right:pxToRem(11);
        }
        input{
            border:none;
            background:none;
            color:#f4f4f4;
            font-size:pxToRem(24);
            line-height:pxToRem(59);
            padding-left:pxToRem(20);
            width:70%;
        }
    }
    a{
        padding-right:pxToRem(29);
        color:#f4f4f4;
        font-size:pxToRem(32);
        line-height:pxToRem(60);
        background:url(i/icon2s.png?__base64) 95% pxToRem(25) no-repeat;
        background-size:pxToRem(15) pxToRem(8); 
        float:right;
    }
}
