@import"mobile";
header{
    height:pxToRem(60);
    background:#00b459;
    padding:pxToRem(19) pxToRem(19)  pxToRem(19) pxToRem(30);
    em{
        float:left;
        a{
            display:block;
            width:pxToRem(38);
            height:pxToRem(60);
            height:pxToRem(60);
            background:url(i/iconsh.png?__base64) 0 pxToRem(12) no-repeat;
            background-size:pxToRem(18) pxToRem(33);
        }
    }
    .header-bd{
        background:url(i/icon3sh.png?__base64) 0 0 no-repeat;
        background-size:100% 100%;
        height:pxToRem(60);
        margin:0 pxToRem(78) 0 pxToRem(40);
        padding:0 pxToRem(21) 0 pxToRem(20);
        input{
            border:none;
            font-size:pxToRem(24);
            color:#f4f4f4;
            float:left;
            background:none;
            height:pxToRem(60);
        }
        .sous{
            width:pxToRem(26);
            height:pxToRem(26);
            margin-top:pxToRem(17);
            background:url(i/icon2sh.png?__base64) 0 0 no-repeat;
            background-size:100% 100%;
            margin-right:pxToRem(10);
        }
        a{
            float:right;
            background:url(i/icon1sh.png?__base64) 0 0 no-repeat;
            background-size:pxToRem(30) pxToRem(30);
            margin-top:pxToRem(15);
            width:pxToRem(30);
            height:pxToRem(30);
        }
    }
    .hd-quxiao{
            line-height:pxToRem(61);
            color:#f4f4f4;
            font-size:pxToRem(30);
    }
}
.xiangmu{
    height:pxToRem(44);
    padding:pxToRem(19) 0 pxToRem(18) 0;
    border-bottom:pxToRem(1) #e0e0e0 solid;
    a{
        box-sizing:border-box;
        width:33%;
        border-right:pxToRem(1) #ccc solid;
        float:left;
        line-height:pxToRem(46);
        color:#666;
        font-size:pxToRem(26);
        padding-left:pxToRem(76); 
        span{
            float:left;
        }
        
        em{
            background:url(i/icon4sh.png?__base64) 0 0 no-repeat;
            background-size:100% 100%;
            float:left;
            width:pxToRem(18);
            height:pxToRem(10);
            margin:pxToRem(17) 0 0 pxToRem(10);
        }
    } 
    .xiang-bd{
        padding-left:pxToRem(14);
        border:none;
        width:34%;
    }
    .xiang-dangq{
        color:#00b459;
    }
}
.gezh-zhongxue{
    ol{
        height:pxToRem(880);
        li{
            height:pxToRem(175);
            border-bottom:pxToRem(1) #e0e0e0 solid;
            a{
                display:block;
                padding:pxToRem(30) 0 0 pxToRem(42);
                dl{
                    dt{
                        margin-right:pxToRem(32);
                        img{
                            height:pxToRem(88);
                            width:pxToRem(88);
                            margin-left:pxToRem(8);
                        }
                        p{
                            line-height:pxToRem(36);
                            font-size:pxToRem(18);
                            color:#6897c6;
                        }
                    }
                    dd{
                        height:pxToRem(44);
                        line-height:pxToRem(32);
                        color:#999;
                        font-size:pxToRem(24);
                        strong{
                            line-height:pxToRem(44);
                            color:#333;
                            font-size:pxToRem(28);
                            margin-right:pxToRem(11);
                            float:left;
                        }
                        em{
                            font-style:normal;
                            float:left;
                            height:pxToRem(22);
                            width:pxToRem(42);
                            border:pxToRem(1) #fb7352 solid;
                            border-radius:pxToRem(5);
                            line-height:pxToRem(22);
                            color:#fb7352;
                            font-size:pxToRem(18);
                            text-align:center;
                            margin-right:pxToRem(19);
                            margin-top:pxToRem(9);
                        }
                        var{
                            font-style:normal;
                            line-height:pxToRem(25);
                            color:#666;
                            float:left;
                            width:pxToRem(59);
                            border-right:pxToRem(1) #e5e5e5 solid;
                            height:pxToRem(26);
                            margin-top:pxToRem(8);
                            margin-right:pxToRem(9);
                        }
                        span{
                            line-height:pxToRem(42);
                            color:#666;
                            float:left;
                        }
                        i{
                            float:left;
                            height:pxToRem(20);
                            width:pxToRem(21);
                            background:url(i/icon5sh.png?__base64) 0 0 no-repeat;
                            background-size:100% 100%;
                            margin:pxToRem(9) pxToRem(7) 0 0;
                        }
                    }

                }
            }
        }
    }
}