@import"qhcs";
@import"shouyewang";
@import"dajx";
@import"jiaoshi";
.lm-xuexiao{
    padding-top:pxToRem(40);
    margin-left:pxToRem(20);
    border-bottom:pxToRem(1) #ebebeb solid;
    height:pxToRem(160);
}
.xuexiao-r{
    float:right;
    margin-right:pxToRem(45);
    background:url(i/icon9.png?__base64) 0 0 no-repeat;
    background-size:100% 100%;
    width:pxToRem(11);
    height:pxToRem(20);
    margin-top:pxToRem(50);
}
.xuexiao-l{
    display:block;
    margin-right:pxToRem(85);
    margin-left:pxToRem(9);
    dl{
        dd{
            float:left;
            img{
                display:block;
                width:pxToRem(118);
                height:pxToRem(118);
                border:pxToRem(1) #e5e5e5 solid;
                border-radius:pxToRem(5);
            }
        }
        dt{
            margin-left:pxToRem(139);
            color:#333;
            span{
                display:block;
                line-height:pxToRem(43);
                font-size:pxToRem(30);
                margin-bottom:pxToRem(5);
            }
            p{
                line-height:pxToRem(36);
                font-size:pxToRem(24);
                height:pxToRem(72);
                overflow:hidden;
            }
        }
    }
}
.jswk{
    height:pxToRem(90);
    border-bottom:pxToRem(1) #d6d5d2 solid;
    li{
        width:50%;
        float:left;
        a{
            display:block;
            text-align:center;
            height:pxToRem(87);
            font-size:pxToRem(28);
            color:#666;
            line-height:pxToRem(89);
            width:pxToRem(120);
            margin:0 auto;
        }
        .cur{
            border-bottom:pxToRem(4) #00b459 solid;
            color:#00b459;
        }
    }
}
.zxwk{
    background:#f5f4f0;
    ol{
        padding-left:pxToRem(20);
        li{
            float:left;
            width:50%;
            box-sizing:border-box;
            height:pxToRem(253);
            position:relative;
            padding:0 pxToRem(20) 0 0;
            margin-bottom:pxToRem(20);

            img{
                height:pxToRem(162);
                margin-right:pxToRem(20);
                width:100%;
                display:block;
            }
            p{
                
                line-height:pxToRem(28);
                font-size:pxToRem(22);
                color:#333;
                padding:0 pxToRem(17) 0 pxToRem(14);
                height:pxToRem(56);
                overflow:hidden;
                margin:pxToRem(16) 0;
            }
            a{
                position:absolute;
                width:100%;
                height:100%;
                background:url(i/dajx-a.png?__base64) center pxToRem(64) no-repeat;
                background-size:pxToRem(44) pxToRem(44);
                top:0;
                left:0;
                z-index:2;
            }
            span{
                position:absolute;
                z-index:1;
                width:pxToRem(62);
                height:pxToRem(32);
                line-height:pxToRem(32);
                font-size:pxToRem(22);
                text-align:center;
                color:#fff;
                background:black;
                opacity:0.7;
                left:pxToRem(10);
                top:0;
            }
        }
        div{
            border:pxToRem(1) #edece8 solid;
            height:pxToRem(251);
            background:#fff;
        }
    }
}